<h1>Editing efemeride</h1>

<%= render "form", efemeride: @efemeride %>

<br>

<div>
  <%= link_to "Show this efemeride", @efemeride %> |
  <%= link_to "Back to efemerides", efemerides_path %>
</div>
